/* Selector {
    Property: value;
} */

body {
background-color:azure;
}

h2{
    text-shadow: 1px;
    text-align: center;
    background-color: rgba(220, 200, 200, 0.2);
}

header{
    font-size: 20px;
    background-color: rgba(220, 200, 200, 0.2);
}

li{
    list-style: none;
    display:inline-block;
    margin-right: 50px;
}

p{
    border: 2px solid darkslategray;
    background-color: rgba(220, 200, 200, 0.2);
    line-height: 20px;
    text-align: center;
    font-style: italic;
    font-weight:900;
    font-size: 20px;
}